.registration {
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/registration-images/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.switch-button.MuiSwitch-root {
    color: red;
}