.view-appointments-container {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
    background-color: #b4c0b1;
}

.view-appointments-container.sidebar-open {
    margin-left: 300px;
}